<!DOCTYPE html>
<html ng-app="coreApp">
<head>
    <!-- Title -->
    <title>Medocity INC</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <meta name="description" content="Medocity INC" />
    <meta name="keywords" content="" />
    <meta name="author" content="Medocity Developers" />

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
    <link href="/assets/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/weather-icons-master/css/weather-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/metrojs/MetroJs.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libs.min.css">
    <link rel="stylesheet" href="/assets/plugins/fullcalendar/fullcalendar.min.css" type="text/css"/>
      
    <!-- Theme Styles -->
    <link href="/assets/css/modern.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/modern.min.css" rel="stylesheet" type="text/css"/>

    <link href="/skins/<%=appData.skin%>/css/index.css" class="theme-color" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/plugins/3d-bold-navigation/js/modernizr.js"></script>
    <script src="/assets/plugins/offcanvasmenueffects/js/snap.svg-min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
   <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
</head>
<body class="page-header-fixed">
<% if(appData.appType) { %>
    <script>window.appType = '<%=appData.appType%>'; </script>
<% } %>
<div class="overlay"></div>
<div class="menu-wrap">
    <nav class="profile-menu">
        <div class="profile"><img src="/assets/images/avatar1.png" width="52px" alt="David Green"/><span>David Green</span></div>
        <div class="profile-menu-list">
            <a href="#"><i class="fa fa-star"></i><span>Favorites</span></a>
            <a href="#"><i class="fa fa-bell"></i><span>Alerts</span></a>
            <a href="#"><i class="fa fa-envelope"></i><span>Messages</span></a>
            <a href="#"><i class="fa fa-comment"></i><span>Comments</span></a>
        </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
</div>
<main class="page-content content-wrap">
<div class="navbar" style="padding:10px; height: 90px">
<div class="navbar-inner">
<div class="logo-box">
    <a href="#/dashboard" class="logo-text"><span>
        <img src="/skins/<%=appData.skin%>/images/logo.png">
    </span></a>
</div><!-- Logo Box -->

<div class="topmenu-outer">
<div class="top-menu">
<ul class="nav navbar-nav navbar-right">
    <li><% if(caregiver){%>
        <div class="alert alert-info" style="padding:20px">
        Viewing data for <strong><%=caregiver%></strong>
            <a onclick="document.cookie = 'caregiverName =; Max-Age=0; path=/';window.location='/resetCaregiver'" type="button" class="close pull-right" style="margin-left:10px"><span aria-hidden="true">&times;</span></a>
        </div>
        <%}%></li>
   <li>
    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
   </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge badge-success pull-right">4</span></a>
        <ul class="dropdown-menu title-caret dropdown-lg" role="menu">

            <li><p class="drop-title">You have 4 new  messages !</p></li>
            <li class="dropdown-menu-list slimscroll messages">
                <ul class="list-unstyled">

                    <li>
                        <a href="#">
                            <div class="msg-img"><div class="online on"></div><img class="img-circle" src="/assets/images/avatar2.png" alt=""></div>
                            <p class="msg-name">Sandra Smith</p>
                            <p class="msg-text">Hey ! I'm working on your project</p>
                            <p class="msg-time">3 minutes ago</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="msg-img"><div class="online off"></div><img class="img-circle" src="/assets/images/avatar4.png" alt=""></div>
                            <p class="msg-name">Amily Lee</p>
                            <p class="msg-text">Hi David !</p>
                            <p class="msg-time">8 minutes ago</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="msg-img"><div class="online off"></div><img class="img-circle" src="/assets/images/avatar3.png" alt=""></div>
                            <p class="msg-name">Christopher Palmer</p>
                            <p class="msg-text">See you soon !</p>
                            <p class="msg-time">56 minutes ago</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="msg-img"><div class="online on"></div><img class="img-circle" src="/assets/images/avatar5.png" alt=""></div>
                            <p class="msg-name">Nick Doe</p>
                            <p class="msg-text">Nice to meet you</p>
                            <p class="msg-time">2 hours ago</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="msg-img"><div class="online on"></div><img class="img-circle" src="/assets/images/avatar2.png" alt=""></div>
                            <p class="msg-name">Sandra Smith</p>
                            <p class="msg-text">Hey ! I'm working on your project</p>
                            <p class="msg-time">5 hours ago</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="msg-img"><div class="online off"></div>
                                <img class="img-circle" src="/assets/images/avatar4.png" alt="">
                            </div>
                            <p class="msg-name">Amily Lee</p>
                            <p class="msg-text">Hi David !</p>
                            <p class="msg-time">9 hours ago</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="drop-all"><a href="#" class="text-center">All Messages</a></li>
        </ul>
    </li>
    <li>
        <a href="#" onclick="window.location='/logout'" class="log-out waves-effect waves-button waves-classic">
            <span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>
        </a>
    </li>
</ul><!-- Nav -->
</div><!-- Top Menu -->
</div>
</div>
</div><!-- Navbar -->
<div class="page-sidebar sidebar" style="width:160px; padding-top: 100px">
    <div class="page-sidebar-inner slimscroll">
        <div class="sidebar-header" ng-controller = "profileController as controller">
            <div class="sidebar-profile">
                <a href="javascript:void(0);" id="profile-menu-link">
                    <div class="sidebar-profile-image">
                        <img id="profileImage" src="" class="img-circle img-responsive" alt="" style="height: 60px">
                    </div>
                    <div class="sidebar-profile-details">
                        <span id="profileName"></span>
                    </div>
                </a>
            </div>
        </div>
        <ul class="menu accordion-menu" style="width:160px" ng-controller="navigation as ctrl">
            <% _.each(modules,function(module) { %>
                <% if(module.submodules.length) { %>
                <li class="droplink"><a href="#" class="waves-effect waves-button"><img src="/assets/icons/<%=module.icon%>"/> <p><%=module.name%></p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        <% _.each(module.submodules, function(data){ %>
                            <% data %>
                            <li><a href="/platform/<%=data.url %>" ng-click="ctrl.updateTitle('<%=data.name%>')"><%=data.name%></a></li>
                        <% }) %>
                    </ul>
                </li>
                <% } else { %>
                    <li><a href="/platform/<%=module.url%>" class="waves-effect waves-button" ng-click="ctrl.updateTitle('<%=module.name%>')"><img src="/assets/icons/<%=module.icon%>"/><p><%=module.name%></p></a></li>
                <% } %>
            <% }) %>
        </ul>
    </div><!-- Page Sidebar Inner -->
</div>
    <!-- Page Sidebar -->
<div class="page-inner" style="padding: 93px 0 50px !important;" >
<div class="page-title" ng-controller="titleUpdater">
    <h3>{{title}}</h3>
</div>
<div id="main-wrapper" style="min-height: 700px" ui-view>
</div><!-- Main Wrapper -->
<div class="page-footer">
    <p class="no-s pull-right"><a ng-click="showModal();" href="/platform/<%=appData.appType%>/about-us"> About Us</a> | <a href="/platform/<%=appData.appType%>/terms-of-service"> Terms of Services</a> | <a href="/platform/<%=appData.appType%>/privacy-policy">Privacy Policy</a> | <a href="/platform/<%=appData.appType%>/disclaimer">Disclaimer</a> | <a href="/platform/<%=appData.appType%>/feedback">Feedback</a></p>
</div>
</div><!-- Page Inner -->
</main><!-- Page Content -->
<nav class="cd-nav-container" id="cd-nav">
    <header>
        <h3>Navigation</h3>
        <a href="#0" class="cd-close-nav">Close</a>
    </header>
    <ul class="cd-nav list-unstyled">
        <li class="cd-selected" data-menu="index">
            <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-home"></i>
                        </span>
                <p>Dashboard</p>
            </a>
        </li>
        <li data-menu="profile">
            <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                <p>Profile</p>
            </a>
        </li>
        <li data-menu="inbox">
            <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                <p>Mailbox</p>
            </a>
        </li>
        <li data-menu="#">
            <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-tasks"></i>
                        </span>
                <p>Tasks</p>
            </a>
        </li>
        <li data-menu="#">
            <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-cog"></i>
                        </span>
                <p>Settings</p>
            </a>
        </li>
        <li data-menu="calendar">
            <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                <p>Calendar</p>
            </a>
        </li>
    </ul>
</nav>
<!-- Javascripts -->
<script src="/assets/plugins/jquery/jquery-2.1.3.min.js"></script>
<script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/plugins/pace-master/pace.min.js"></script>
<script src="/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/plugins/switchery/switchery.min.js"></script>
<script src="/assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="/assets/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="/assets/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="/assets/plugins/waves/waves.min.js"></script>
<script src="/assets/plugins/3d-bold-navigation/js/main.js"></script>
<!--<script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/assets/plugins/jquery-counterup/jquery.counterup.min.js"></script>
<script src="/assets/plugins/toastr/toastr.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/assets/plugins/curvedlines/curvedLines.js"></script>-->
<script src="/assets/plugins/metrojs/MetroJs.min.js"></script>
<script src="/assets/js/modern.min.js"></script>
<script src="/assets/plugins/moment/moment.js"></script>
<script src="/assets/js/angular.js"></script>
<script src="/assets/js/calendar/calendar.js"></script>
<script src="/assets/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="/assets/js/angular-animate.js"></script>
<script src="/assets/js/ui-bootstrap-tpls-0.9.0.min.js"></script>
<script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.2.4"></script>
<script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.2.4"></script>
<script src="//mgcrea.github.io/angular-strap/docs/angular-strap.docs.tpl.js" data-semver="v2.2.4"></script>

<script src="/assets/js/angular-ui-router.js"></script>
<script src="/assets/js/ocLazyLoad.min.js"></script>


<script src="/assets/js/ng-infinite-scroll.min.js"></script>
<script src="//code.angularjs.org/1.2.28/angular-sanitize.js"></script>
<script src="/application-modules/app.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        $('#profileName').html(localStorage.getItem('username'));
        $('#profileImage').attr('src',localStorage.getItem('profileImage'));
    });
</script>
</body>
</html>