.page-content {
    background: #539391;
}

.navbar .logo-box {
    background: #fff;
}

.navbar .logo-box a {
    color: #5f5f5f;
}

.sidebar {
    background: #539391;
}

.sidebar-header {
    background: #539391;
}

.sidebar-profile span small {
    color: #FFFFFF;
}

.menu {
    background: #539391;
}

.menu.accordion-menu a {
    color: #FFFFFF;
}

.menu.accordion-menu > li > a:hover {
	background: #446968;
    color: #fff;
}

.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a {
	background: #446968;
    color: #fff;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
.horizontal-bar .accordion-menu > li.droplink:hover > a,
.menu.accordion-menu ul,
.menu.accordion-menu li.open > a,
.hover-menu .accordion-menu > li.droplink:hover > a {
    background: #446968;
    color: #fff;
}

.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
	background: #539391;
    color: #fff;
}

.menu.accordion-menu ul li a {
    color: #FFFFFF;
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #539391;
    border-color: #539391;
}
.btn-success {
    background-color: #539391;
    color: #fff;
    border: 1px solid transparent
}
.inbox-widget .inbox-item img {
    width: 40px;
    height: 40px;
}
.green-color{
    color:#539391
}
.theme-border{
    border: solid 1px lightseagreen;
}

.headingApp-color
{
    color:#539391 !important;
}

.btn-color {
    background-color: #539391;
    color: #fff;
    border: 1px solid transparent;
}
.videoEvent{
    margin-left: 10px;
}
td.setIconPos{
    padding: 20px 0px 0px 20px;
}
td.transCommon {
    color: rgb(102,102,102);
    padding: 18px 0px 0px 18px;
}
table.tblTransBilling {
    margin-left: -21px;
    margin-top: 30px;
}
.aside-footer{
    display: none;
}
.aside .aside-dialog .aside-header{
    background: #539391;
}
.btnWarning{
    border: 1px solid #fff !important;
}
.btnSuccess{
    border: 1px solid #fff !important;
}
.commentText{
    background-color: #fff !important;
    color:#31708f;
    border:2px solid #e5e5e5 !important;
}
.ctrlGroup{
    padding-top: 10px !important;
}