<div class="modal-header">
    <h3 class="modal-title">Age Terms</h3>
</div>
<div class="modal-body">
    The Services are intended solely for users 13 years of age and older, and you must be at least 13 years old to use the Services. By accessing and using the Services, you represent and warrant that you are at least 13 years old. Adults may establish accounts that include information regarding their children. However, such accounts are designed and intended only for adult users with children, and may not be directly accessed or used by children under the age of 13.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">OK</button>
</div>