<div class="new-user-body form-signin" ng-controller="accountController as ctrl">
    <div
            ng-class="{'alert alert-success margin-top-10':ctrl.status==true, 'alert alert-danger margin-top-10':ctrl.status==false}"
            role="alert"
            ng-show="ctrl.message">{{ctrl.message | lowercase}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ctrl.message=false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form name="createAccountForm" novalidate="novalidate">
        <div class="form-group">
            <input type="email" name="username" class="form-control" ng-model="ctrl.userDetails.email"
                   placeholder="Enter your email Address" required autocomplete="off" autofocus="autofocus">
            <span ng-show="createAccountForm.username.$error.email" class="text-danger">Invalid email address!</span>
        </div>

        <div class="form-group">
            <input type="password" name="password" class="form-control" ng-model="ctrl.userDetails.password"
                   placeholder="Password" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="ctrl.confirmPassword" placeholder="Confirm Password"
                   required>
            <span ng-show="ctrl.userDetails.password!=ctrl.confirmPassword && ctrl.confirmPassword" class="text-danger">Passwords do not match!</span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="ctrl.userDetails.firstName"
                   placeholder="Enter your first name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="ctrl.userDetails.lastName"
                   placeholder="Enter your last name" required>
        </div>
        <div class="form-group">
            <div id="gender">
                <input type="radio" id="radio2" ng-model="ctrl.userDetails.gender" name="gender" value="male"
                       checked="">
                <label for="radio2">Male</label>
                <input type="radio" id="radio3" name="gender" value="Female" ng-model="ctrl.userDetails.gender">
                <label for="radio3">Female</label>
            </div>
            <div class="clear"></div>
        </div>
        <div class="checkbox">
            <label>
                <input ng-model="ageterms" required name="ageterms" type="checkbox" value="remember-me"> I am over the age of 13.(<a href="javascript:;" ng-click="ctrl.showAgeTerms()" >Click
                here</a>)
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" required ng-model="privacyPolicy" name="privacyPolicy" value="remember-me"> I agree to the Terms of Use and Privacy Policy. (<a
                    href="javascript:;" ng-click="ctrl.showPrivacyPolicy('lg')"> Click here </a>)
            </label>
        </div>

        <div class="new-user-submit">
            <div>
                <a href="#/login" class="btn btn-warning">Back</a>
                <a class="btn btn-warning" ng-click="ctrl.createAccount()" ng-disabled="createAccountForm.$invalid || ctrl.creating">Register</a>
            </div>
        </div>
    </form>

</div>