<div class="modal-header">
    <h3 class="modal-title">Terms of Service</h3>
</div>
<div class="modal-body" style="max-height: 420px;
    overflow-y: auto;">
<div style="height: 500px">
<p class="western" align="JUSTIFY" style="margin-bottom: 0.14in"><font face=""><font size="3">These
    Terms of Service govern your use of all Web sites owned or operated
    by Medocity, Inc. dba iCancerHealth (“Medocity”), including,
    without limitation, the iCancerHealth mobile application and
    associated services (collectively, the “Services”).  Please read
    these Terms of Service carefully. These Terms of Service constitute a
    binding agreement between you and Medocity regarding your use of the
    Services.  By using the Services, you agree to be bound by these
    Terms of Service and the Medocity Privacy Policy
</font></font>(http://www.medocity.com/privacy-policy)<font face=""><font size="3"><b>.</b></font></font><font face=""><font size="3">
    If you do not agree to any provision of these agreements, you may not
    use the Services.</font></font></p>
<ol>
    <li><p class="western" align="JUSTIFY" style="margin-bottom: 0.14in"><font face=""><font size="3"><u><b>Minors</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">The
    Services are intended solely for users 13 years of age and older, and
    you must be at least 13 years old to use the Services. By accessing
    and using the Services, you represent and warrant that you are at
    least 13 years old.  Adults may establish accounts that include
    information regarding their children.  However, such accounts are
    designed and intended only for adult users with children, and may not
    be directly accessed or used by children under the age of 13.</font></font></p>
<ol start="2">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Terms of
            Service Changes</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Medocity
    may, in its sole and absolute discretion, change these Terms of
    Service from time to time, including without limitation instituting a
    fee or charge to use the Services, or changing the fees or charges to
    use the Services.  Medocity will post a copy of the Terms of Service
    as changed on the Services.  Your continued use of the Services
    constitutes your agreement to abide by the Terms of Service as
    changed.  If you object to any such changes, your sole recourse shall
    be to cease using the Services.</font></font></p>
<ol start="3">
    <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3"><u><b>Username and
            Password </b></u></font></font>
    </p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">In
    order to use the Services and interact with others, you must create
    an account with Medocity and establish a username and password.  You
    must use your account, username and password solely in accordance
    with these Terms of Service.  You are solely responsible for
    maintaining the security of your username and password and any
    activity that occurs under your account.  You will promptly
    notify&nbsp;Medocity via e-mail [<b>security@medocity.com</b>]&nbsp;if
    you learn of or suspect any loss, theft or unauthorized use of your
    account, username or password.</font></font></p>
<ol start="4">
    <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3"><u><b>No Medical
            Advice and No Doctor-Patient Relationship</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">INFORMATION
    SUPPLIED BY MEDOCITY ON OR THROUGH THE SERVICES IS FOR EDUCATIONAL
    PURPOSES ONLY AND IS NOT A REPLACEMENT FOR PROFESSIONAL MEDICAL
    ADVICE, DIAGNOSIS OR TREATMENT.  IF YOU RELY ON SUCH INFORMATION, YOU
    DO SO SOLELY AT YOUR OWN RISK.  ALWAYS SEEK THE ADVICE OF YOUR
    PHYSICIAN OR OTHER QUALIFIED HEALTH CARE PROVIDER REGARDING ANY
    QUESTIONS YOU HAVE ABOUT PERSONAL HEALTH OR MEDICAL CONDITIONS. NEVER
    DISREGARD OR DELAY SEEKING PROFESSIONAL MEDICAL ADVICE BECAUSE OF
    SOMETHING YOU HAVE READ ON THE SERVICES.  NO MEDICAL
    PROFESSIONAL-PATIENT RELATIONSHIP IS CREATED BETWEEN MEDOCITY AND YOU
    BY YOUR USE OF INFORMATION PROVIDED ON OR THROUGH THE SERVICES.  IF
    YOU HAVE OR SUSPECT THAT YOU HAVE AN EMERGENCY MEDICAL PROBLEM,
    CONTACT YOUR PHYSICIAN OR 911 IMMEDIATELY.  </font></font>
</p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">MEDOCITY
    DOES NOT MAKE ANY GUARANTEES, REPRESENTATIONS OR WARRANTIES, WHETHER
    EXPRESS OR IMPLIED, WITH RESPECT TO PROFESSIONAL QUALIFICATIONS,
    EXPERTISE, QUALITY OF CARE, OR OTHER INFORMATION RELATING TO ANY
    HEALTH CARE PROFESSIONAL MENTIONED ON THE SERVICES.  MEDOCITY DOES
    NOT RECOMMEND OR ENDORSE ANY THIRD-PARTY PRODUCT, SERVICE,
    INFORMATION, OR MATERIAL MENTIONED ON THE SERVICES OR OFFERED THROUGH
    THE SERVICES, AND YOU WILL BE SOLELY RESPONSIBLE FOR YOUR DECISION TO
    USE OR RELY ON ANY SUCH THIRD-PARTY PRODUCT, SERVICE, INFORMATION, OR
    MATERIAL.</font></font></p>
<ol start="5">
    <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3"><u><b>Privacy
            Policy</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Medocity
    may use any information Medocity obtains about you in accordance with
    the provisions of Medocity’s Privacy Policy
    [<b>http://www.medocity.com/privacy-policy</b>].</font></font></p>
<ol start="6">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Ownership</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">The
    content on the Services, other than Submissions (defined below),
    including, without limitation, text, software, scripts, graphics,
    photos, sounds, music, videos, interactive features, and the like
    (“Content”), as well as certain other of the names, logos, and
    materials displayed on or through the Services that constitute
    trademarks (“Marks”) are owned by or licensed to Medocity and are
    subject to copyright, trademark, and other intellectual property
    rights under U.S. and international laws. </font></font>
</p>
<ol start="7">
    <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3"><u><b>Use of the
            Services and Content</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">You
    may not reproduce, duplicate, copy, sell, resell, or exploit for any
    purposes the Services, or any portion of the Services, including,
    without limitation, Content and Marks, except as authorized by these
    Terms of Service.  You must abide by all copyright notices,
    information, or restrictions contained in or associated with any
    Content. The Services are provided for your personal, non-commercial
    use only.</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Prohibited
    activities include, without limitation, the following:  </font></font>
</p>
<ol>
    <ol>
        <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
            <font face=""><font size="3">violating any
                local, state, national, or international law or regulation; </font></font>
        </p>
        </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">violating the
            contractual, personal, proprietary, or other rights of any person
            or entity, or uploading or transmitting any communications or
            content of any type that infringes or violates any rights of any
            person or entity, including, without limitation, transmitting or
            posting the personal health or medical information of another
            individual without such individual’s express prior consent;</font></font></p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">transmitting any
            material that is abusive, harassing, tortious, defamatory, vulgar,
            pornographic, obscene, libelous, hateful, or racially, ethnically,
            or otherwise objectionable; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">transmitting any
            unsolicited or unauthorized advertising, promotional materials,
            junk mail, spam, chain letters, pyramid schemes, or any other form
            of solicitation; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">knowingly
            transmitting any material that contains adware, malware, spyware,
            software viruses, or any other computer code, files, or programs
            designed to interrupt, destroy, or limit the functionality of any
            computer software or hardware or telecommunications equipment; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">stalking,
            harassing, or harming another individual; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">collecting
            personal information, including, without limitation, account names
            or e-mail addresses, of other users from the Services through
            automated means or otherwise;</font></font></p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">impersonating any
            person or entity, including, without limitation, an Medocity
            representative or qualified health care professional, or otherwise
            misrepresenting your affiliation with a person or entity; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">interfering with
            or disrupting the Services or servers or networks connected to the
            Services, or disobeying any requirements, procedures, policies, or
            regulations of networks connected to the Services; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">attempting to
            decipher, decompile, disassemble, or reverse engineer any of the
            software comprising any part of the Services; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">attempting to
            interfere with any security feature of the Services, or circumvent,
            disable or interfere with any copyright management or other
            technological measure that effectively controls access to, use or
            copying of content of the Services;  and </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">launching any
            automated system, including, without limitation, “robots,”
            “spiders,” “offline readers,” etc., that accesses the
            Services in a manner that sends more request messages to the
            Services in a given period of time than a human can reasonably
            produce in the same period by using a conventional Web browser.</font></font></p>
    </li></ol>
    <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Applicable
            Third Party Terms of Service</b></u></font></font></p>
    </li></ol>
<ol>
    <p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3">The Services are
            available on a number of different operating platforms, including,
            but not limited to, the Apple iOS for mobile devices such as the
            Apple iPhone, iPad and iPod Touch.  Please be aware that your
            activities on each of these platforms are also subject to the terms
            of service for such platforms.  For example, you can find the Apple
            iOS terms of service at
            http://www.apple.com/legal/itunes/appstore/us/terms.html.</font></font></p>
</ol>
<ol start="9">
    <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Submissions</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">The
    Services may enable you to submit content to the Services (
    “Submissions”) for hosting, display, and distribution to other
    users of the Services, such as posting messages and other content to
    community and interactive areas of the Services.  When you provide
    Medocity with a Submission, you hereby grant to Medocity and its
    affiliates, representatives and assigns a non-exclusive, worldwide,
    fully paid, royalty free, transferable, sub-licensable license and
    permission to display, publicly perform, distribute, store,
    transcode, syndicate (including, without limitation, syndication
    through third-party Web sites), broadcast, transmit, reproduce, edit,
    modify, create derivative works of, and otherwise use and reuse your
    Submissions (or any portions or derivative works thereof) in any
    manner, in any medium, for any purpose.  You acknowledge and agree
    that you have no expectation of compensation or confidentiality of
    any nature with respect to any Submission.  Submissions are available
    to all users of the Services.  Medocity reserves the right to display
    advertisements in connection with your Submissions and to use your
    Submissions to advertise and promote your Submissions, the Services,
    and Medocity.  Medocity reserves the right to modify Submissions in
    its sole and absolute discretion.  Medocity is not required to host,
    display, or distribute any Submissions, and may delete, move, or edit
    Submissions at any time.  </font></font>
</p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Medocity
    does not, as part of a regular, established practice, monitor,
    control, or have knowledge of any Submissions transmitted on or
    through the Services.  You agree that you are solely responsible for
    all Submissions you transmit and receive on or through the Services.</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">You
    represent and warrant that:  </font></font>
</p>
<ol>
    <ol>
        <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
            <font face=""><font size="3">you own all rights
                in your Submissions or, alternatively, you have acquired all
                necessary rights and permissions to enable you to grant to Medocity
                the rights in your Submissions described herein; and</font></font></p>
        </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">your Submissions
            do not infringe the intellectual property rights, privacy rights,
            publicity rights, or any other legal or moral rights of any
            third-party.</font></font></p>
    </li></ol>
</ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">You
    agree to keep all records necessary to establish that your
    Submissions do not violate any of the foregoing representations and
    warranties and to make such records available to Medocity upon
    Medocity’s request.</font></font></p>
<ol start="10">
    <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3"><u><b>Digital
            Millennium Copyright Act</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Medocity
    respects the intellectual property rights of others.  Upon proper
    notice, Medocity will remove Submissions or other applicable content
    that violate copyright law and terminate the accounts of repeat
    infringers.  Pursuant to 17 U.S.C. §&nbsp;512, Medocity has
    implemented procedures for receiving written notification of claimed
    copyright infringement and for processing such claims in accordance
    with such law.  If you believe your work has been copied in a way
    that constitutes copyright infringement, please send Medocity’s
    copyright agent (listed below) a notification of claimed infringement
    with all of the following information: </font></font>
</p>
<ol>
    <ol>
        <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
            <font face=""><font size="3">identification of
                the copyrighted work claimed to have been infringed, or, if
                multiple copyrighted works are covered by a single notification, a
                representative list of such works; </font></font>
        </p>
        </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">identification of
            the claimed infringing material and information reasonably
            sufficient to permit Medocity to locate the material on the
            Services; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">information
            reasonably sufficient to permit Medocity to contact you, such as an
            address, telephone number, and, if available, an email address; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">a statement by you
            that you have a good faith belief that the disputed use is not
            authorized by the copyright owner, its agent, or the law; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">a statement by
            you, made under penalty of perjury, that the above information in
            your notification is accurate and that you are the copyright owner
            or authorized to act on the copyright owner’s behalf; and </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">your physical or
            electronic signature. </font></font>
    </p>
    </li></ol>
</ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Please
    send all of the above enumerated information to the following
    Medocity copyright agent:</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0in; line-height: 100%"><font face=""><font size="3">Medocity</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0in; line-height: 100%"><font face=""><font size="3">140
    Littleton Rd., Suite 301</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0in; line-height: 100%"><font face=""><font size="3">Parsippany,
    NJ 07054</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0in; line-height: 100%"><font face=""><font size="3">Tel:
    <a href="tel:973-679-8240" x-apple-data-detectors="true" x-apple-data-detectors-type="telephone" x-apple-data-detectors-result="5/0">973-679-8240</a></font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0in; line-height: 100%"><font face=""><font size="3">Email:
    security@medocity.com</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Please
    do not send notices or inquiries unrelated to alleged copyright
    infringement to Medocity’s designated agent.</font></font></p>
<ol start="11">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Links to and
            from other Web Sites</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Medocity
    permits the linking to the Services from any other Web site so long
    as the linking Web site does not contain libelous, defamatory,
    obscene, illegal, or otherwise objectionable content in Medocity’s
    sole determination.  Any link must not frame the Services and must be
    to the entire Services rather than to a particular page or graphic.
    Medocity reserves the right to request any linking Web site to remove
    such link to the Services for any reason or for no reason.  Any
    linking Web site agrees to comply with such a request within 24 hours
    of receipt of such a request from Medocity.  The Services may
    provide, or users of the Services may provide, links to other Web
    sites or resources.  Because we have no control over such third-party
    Web sites and resources, you acknowledge and agree that Medocity is
    not responsible for the availability of such Web sites or resources,
    and Medocity does not endorse and is not responsible or liable for
    any content, advertising, products, or other materials on or
    available from such Web sites or resources.  You further acknowledge
    and agree that Medocity shall not be responsible or liable, directly
    or indirectly, for any damage or loss caused or alleged to be caused
    by or in connection with use of or reliance on any content, products,
    or services available on or through any such Web site or resource.</font></font></p>
<ol start="12">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Disclaimer</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3"><span style="text-transform: uppercase">YOU
EXPRESSLY AGREE THAT USE OF THE SERVICES IS AT YOUR SOLE RISK.  THE
SERVICES (INCLUDING, WITHOUT LIMITATION, ALL INFORMATION AND MATERIAL
MADE AVAILABLE, DESCRIBED OR ACCESSED THROUGH THE SERVICES) ARE
PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.  TO THE
FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW, Medocity, ITS </span>PARENTS,
    SUBSIDIARIES, AND AFFILIATES, AND ANY OF THEIR OFFICERS, EMPLOYEES,
    DIRECTORS, SHAREHOLDERS, AGENTS, PARTNERS, LICENSORS, SUCCESSORS, AND
    ASSIGNS (INCLUDING, WITHOUT LIMITATION, <span style="text-transform: uppercase">ANY
THIRD PARTY INVOLVED IN DISTRIBUTING AND/OR DELIVERING THE SERVICES)</span>
    (COLLECTIVELY, THE “RELEASED PARTIES”) <span style="text-transform: uppercase">EXPRESSLY
DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED
(INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE, ACCURACY,
AND NON-INFRINGEMENT), WITH RESPECT TO THE SERVICES.  Medocity MAKES
NO REPRESENTATION OR WARRANTIES ABOUT THE ACCURACY, QUALITY,
RELIABILITY, OR COMPLETENESS OF CONTENT</span>, INFORMATION<span style="text-transform: uppercase">,
OR MATERIAL AVAILABLE ON OR THROUGH THE SERVICES AND ASSUMES NO
LIABILITY OR RESPONSIBILITY FOR ANY:  </span></font></font>
</p>
<ol>
    <ol>
        <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
            <font face=""><font size="3">ERRORS, MISTAKES,
                OR INACCURACIES OF CONTENT, INFORMATION, OR MATERIAL OBTAINED FROM
                THE USE OF THE SERVICES; </font></font>
        </p>
        </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">PERSONAL INJURY OR
            OTHER HARM, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO
            OR USE OF THE SERVICES;</font></font></p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">ANY UNAUTHORIZED
            ACCESS TO OR USE OF OUR SERVERS OR ANY AND ALL PERSONAL INFORMATION
            STORED THEREIN; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">ANY INTERRUPTION
            OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICES; </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">ANY BUGS, VIRUSES,
            TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH
            THE SERVICES BY ANY THIRD-PARTY; AND </font></font>
    </p>
    </li><li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3">FOR ANY LOSS OR
            DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT
            POSTED, E-MAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE ON OR
            THROUGH THE SERVICES. </font></font>
    </p>
    </li></ol>
</ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3"><span style="text-transform: uppercase">Medocity
DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR
ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD-PARTY THROUGH
THE SERVICES OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND
Medocity WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR
MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF
PRODUCTS OR SERVICES. </span></font></font>
</p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">YOU
    UNDERSTAND AND AGREE THAT RELIANCE UPON ANY ADVICE OPINION, STATEMENT
    OR OTHER INFORMATION DISPLAYED OR DISTRIBUTED THROUGH THE SERVICES IS
    AT YOUR SOLE RISK, AND MEDOCITY SHALL NOT BE LIABLE FOR YOUR RELIANCE
    UPON THE INFORMATION PROVIDED ON THE SERVICES. <span style="text-transform: uppercase">NO
ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM
Medocity OR THROUGH THE SERVICES SHALL CREATE ANY WARRANTY NOT
EXPRESSLY MADE HEREIN.</span></font></font></p>
<ol start="13">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Limitation of
            Liability</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">YOU
    UNDERSTAND THAT TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW,
    IN NO EVENT WILL <span style="text-transform: uppercase">ANY OF THE</span>
    RELEASED PARTIES BE LIABLE UNDER ANY THEORY OF LIABILITY (WHETHER IN
    CONTRACT, TORT, STATUTORY, OR OTHERWISE) FOR ANY INDIRECT,
    INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING,
    WITHOUT LIMITATION, DAMAGES FOR LOSS OF REVENUES, PROFITS, GOODWILL,
    USE, DATA, OR OTHER INTANGIBLE LOSSES (EVEN IF SUCH PARTIES WERE
    ADVISED OF, KNEW OF, OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH
    DAMAGES), RESULTING FROM (A) YOUR (OR ANYONE USING YOUR ACCOUNT’S)
    USE OF THE SERVICES; (B) THE UNAVAILABILITY OF THE SERVICES OR
    INTERRUPTIONS IN THE AVAILABILITY OF THE SERVICES; (C) ANY ERRORS OR
    OMISSIONS IN THE OPERATION OF THE SERVICES OR OF ANY CONTENT MADE
    AVAILABLE ON OR THROUGH THE SERVICES; (D) THE ACTIONS OF OTHER USERS
    OF THE SITE OR OF ANY THIRD-PARTY; OR (E) THE UNINTENTIONAL
    DISCLOSURE OF INFORMATION STORED ON OR TRANSMITTED THROUGH THE
    SERVICES.  <font color="#000000">NOTWITHSTANDING ANYTHING TO THE
        CONTRARY CONTAINED HEREIN, </font>IF MEDOCITY IS FOUND TO BE LIABLE,
    MEDOCITY’S LIABILITY TO YOU OR TO ANY THIRD PARTY <font color="#000000">FOR
        ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, WILL
        NOT EXCEED $100.  </font></font></font>
</p>
<ol start="14">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Exclusions
            and Limitations</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Some
    jurisdictions do not allow the exclusion of certain warranties or the
    limitation or exclusion of liability for incidental or consequential
    damages.  Accordingly, some of the above limitations and disclaimers
    may not apply to you.  To the extent the Released Parties may not, as
    a matter of applicable law, disclaim any implied warranty or limit
    its liabilities, the scope and duration of such warranty and the
    extent of the Released Parties’ liability shall be the minimum
    permitted under such applicable law.</font></font></p>
<ol start="15">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Indemnity</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">You
    agree to indemnify, defend, and hold harmless the Released Parties
    from and against any and all claims, liabilities, damages, losses,
    costs, expenses, fees (including reasonable attorneys’ fees and
    costs) that such parties may incur as a result of or arising from (a)
    any information (including, without limitation, your Submissions, or
    any other content) submitted, posted, or transmitted on or through
    the Services through your account; (b) the use of the Services under
    your account; including any violation of these Terms of Service and
    any violation of any rights of any other person or entity, including,
    without limitation, any intellectual property right, privacy right,
    or any other legally protected right of any person or entity.
    Medocity reserves the right, at its own expense, to assume the
    exclusive defense and control of any matter otherwise subject to
    indemnification by you, in which event you will cooperate with
    Medocity in asserting any available defenses.</font></font></p>
<ol start="16">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Force Majeure</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Without
    limiting the foregoing, under no circumstances will Medocity be held
    liable for any delay or failure in performance due in whole in or in
    part to any acts of nature, forces, or causes beyond its reasonable
    control, including, without limitation, Internet failures, computer
    equipment failures, software bugs, telecommunication equipment
    failures, other equipment failures, electrical power failures,
    strikes, labor disputes, riots, insurrections, civil disturbances,
    shortages of labor or materials, fires, floods, earthquakes, storms,
    explosions, acts of God, war, governmental actions, orders of
    domestic or foreign courts or tribunals, non-performance of third
    parties, or loss of or fluctuations in heat, light, or air
    conditioning. </font></font>
</p>
<ol start="17">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Termination</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">If
    you violate any of these Terms of Service, your permission to use the
    Services automatically terminates. </font></font>
</p>
<ol start="18">
    <li><p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Modifications
            to the Services</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Medocity
    reserves the right to modify or discontinue the Services with or
    without notice to you.  Medocity shall not be liable to you or any
    third-party should Medocity exercise its right to modify or
    discontinue the Services.</font></font></p>
<ol start="19">
    <li><p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
        <font face=""><font size="3"><u><b>Arbitration</b></u></font></font></p>
    </li></ol>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">You
    and Medocity agree that we will resolve any disputes between us
    through binding and final arbitration instead of through court
    proceedings.  You and Medocity hereby waive any right to a jury trial
    of any Claim.  All controversies, claims, counterclaims, or other
    disputes arising between you and Medocity relating to the Site or
    Service or these Terms (each a “Claim”) shall be submitted for
    binding arbitration in accordance with the Rules of the American
    Arbitration Association (“AAA Rules”).  The arbitration will be
    heard and determined by a single arbitrator.  The arbitrator’s
    decision in any such arbitration will be final and binding upon the
    parties and may be enforced in any court of competent jurisdiction.
    The parties agree that the arbitration will be kept confidential and
    that the existence of the proceeding and any element of it
    (including, without limitation, any pleadings, briefs, documents, or
    other evidence submitted or exchanged and any testimony or other oral
    submissions and awards) will not be disclosed beyond the arbitration
    proceedings, except as may lawfully be required in judicial
    proceedings relating to the arbitration or by applicable disclosure
    rules and regulations of securities regulatory authorities or other
    governmental agencies.</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">If
    you demonstrate that the costs of arbitration will be prohibitive as
    compared to the costs of litigation, Medocity will pay as much of the
    administrative costs and arbitrator’s fees required for the
    arbitration as the arbitrator deems necessary to prevent the cost of
    the arbitration from being prohibitive.  In the final award, the
    arbitrator may apportion the costs of arbitration and the
    compensation of the arbitrator among the parties in such amounts as
    the arbitrator deems appropriate.</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">This
    arbitration agreement does not preclude you from seeking action by
    federal, state, or local government agencies.  You and Medocity also
    have the right to bring qualifying claims in small claims court.  In
    addition, you and Medocity retain the right to apply to any court of
    competent jurisdiction for provisional relief, including pre-arbitral
    attachments or preliminary injunctions, and any such request shall
    not be deemed incompatible with this arbitration agreement, nor a
    waiver of the right to have disputes submitted to arbitration as
    provided in this arbitration agreement.</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Neither
    you nor Medocity may act as a class representative or private
    attorney general, nor participate as a member of a class of
    claimants, with respect to any Claim.  Claims may not be arbitrated
    on a class or representative basis.  The arbitrator can decide only
    your and/or Medocity’s individual Claims.  The arbitrator may not
    consolidate or join the claims of other persons or parties who may be
    similarly situated.</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">If
    any provision of this Section is found to be invalid or
    unenforceable, then that specific provision shall be of no force and
    effect and shall be severed, but the remainder of this Section shall
    continue in full force and effect.  No waiver of any provision of
    this Section will be effective or enforceable unless recorded in a
    writing signed by the party waiving such a right or requirement.
    Such a waiver shall not waive or effect any other portion of these
    Terms.  This Section will survive the termination of your
    relationship with Medocity.</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">THIS
    SECTION LIMITS CERTAIN RIGHTS, INCLUDING THE RIGHT TO MAINTAIN A
    COURT ACTION, THE RIGHT TO A JURY TRIAL, THE RIGHT TO PARTICIPATE IN
    ANY FORM OF CLASS OR REPRESENTATIVE CLAIM, THE RIGHT TO ENGAGE IN
    DISCOVERY EXCEPT AS PROVIDED IN AAA RULES, AND THE RIGHT TO CERTAIN
    REMEDIES AND FORMS OF RELIEF.  OTHER RIGHTS THAT YOU OR MEDOCITY
    WOULD HAVE IN COURT ALSO MAY NOT BE AVAILABLE IN ARBITRATION. </font></font>
</p>
<ol start="20">
    <li><p style="margin-bottom: 0.17in; text-transform: uppercase; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3"><u><b>Class Action
            Waiver</b></u></font></font></p>
    </li></ol>
<ol start="0">
    <p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
        <font face=""><font size="3">YOU AND MEDOCITY
            AGREE THAT ANY PROCEEDINGS TO RESOLVE OR LITIGATE ANY DISPUTE,
            WHETHER IN ARBITRATION, IN COURT, OR OTHERWISE, WILL BE CONDUCTED
            SOLELY ON AN INDIVIDUAL BASIS, AND THAT NEITHER YOU NOR MEDOCITY
            WILL SEEK TO HAVE ANY DISPUTE HEARD AS A CLASS ACTION, A
            REPRESENTATIVE ACTION, A COLLECTIVE ACTION, A PRIVATE
            ATTORNEY-GENERAL ACTION, OR IN ANY PROCEEDING IN WHICH YOU OR
            MEDOCITY ACTS OR PROPOSES TO ACT IN A REPRESENTATIVE CAPACITY. YOU
            AND MEDOCITY FURTHER AGREE THAT NO ARBITRATION OR PROCEEDING WILL BE
            JOINED, CONSOLIDATED, OR COMBINED WITH ANOTHER ARBITRATION OR
            PROCEEDING WITHOUT THE PRIOR WRITTEN CONSENT OF YOU, MEDOCITY, AND
            ALL PARTIES TO ANY SUCH ARBITRATION OR PROCEEDING.</font></font></p>
</ol>

<p style="margin-bottom: 0.17in; line-height: 100%; page-break-after: avoid">
    <font face=""><font size="3"><u><b>Other
        Provisions</b></u></font></font></p>

<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%">
    <font face=""><font size="3">These
        Terms of Service shall be governed by and construed in accordance
        with the laws of the State of New York, without giving effect to any
        conflict of laws rules or provisions.  If any provision of these
        Terms of Service shall be unlawful, void, or for any reason
        unenforceable, then that provision shall be deemed severable from
        these Terms of Service and shall not affect the validity and
        enforceability of any remaining provisions.  The failure of Medocity
        to enforce any right or provision of these Terms of Service will not
        be deemed a waiver of such right or provision.  These Terms of
        Service, together with Medocity’s Privacy Policy
        <b>[http://www.medocity.com/terms-of-service</b>] and any other rules
        or guidelines posted in connection with the Services, are the entire
        and exclusive agreement between Medocity and you regarding the
        Services, and these Terms of Service supersede and replace any prior
        agreements between Medocity and you regarding the Services.</font></font></p>
<p align="JUSTIFY" style="margin-bottom: 0.17in; line-height: 100%"><font face=""><font size="3">Effective
    Date:  1/7/14</font></font></p>
<p class="western" style="margin-bottom: 0.14in"><br><br>
</p>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">OK</button>
</div>