.panel-heading-alerts{
	padding: 8px !important;
	height: 30px !important;
}
.alerts-button{
	padding-bottom: 0px;
	padding-top: 0px;
	border:none;
}
.alerts-button:hover{
	border: none;
	cursor:pointer;
}
.panel-body-alerts{
    padding-left:13px;
    display: block;
    padding-top: 11px;
}
.button-alert-error{
    background-color: #ff0000;
}
.button-alert-warning{
    background-color: #f6881c;
}
.button-alert-takecare{
    background-color: #ffff00;
}
.button-alert-cool{
    background-color: #00ff00;
}
.button-alert-shaded{
    background-color: #cccccc;
}
