.footerReply{
    background: #f6f6f6;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -12px;
    margin-left: -10px !important;
   /* border-right: 1px solid #E5E8EF; */
}
.footerinner{padding:10px;}
.chat-txt{
    float: left;
    width: 70%;
    margin-right: 5px;
}
.chat-btn{
    padding: 3px 6px !important;
}
.footerinput{padding:2px; margin-right:5px;}
.chat-item-img{
    width:40px;
    float: left;
    display: block;
    margin-right: 3px;
}
.singleChat{
    height:auto;
    width:47%;
    float:left;
    clear:both;
    background-color: #ffffff;
    overflow-x:hidden;
    overflow-y: hidden;
}
.chatText{
    display:block;
    padding-left:60px
}
.mailbox-content{
    padding: 0px !important;
}
.cd-timeline-content {
  color:#272727;
  position: relative;
  margin-left: 60px;
  min-height:41px;
  background: #e8e8e8;
  border-radius: 10px;
  padding: 1em;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #e8e8e8;
}
.cd-timeline-content-right{
    background: #d3ad2a !important;
    margin-right: 60px;
}
.cd-timeline-content-right::before{
    border-left: 7px solid #d3ad2a !important;
    border-right:none !important;
    left:100% !important;
}
.cd-timeline-block {
  position: relative;
  margin: 1em 0;
  margin-right:2em;
}
#chatFileUpload {
  height: 26px;
  width:20px;
  cursor: pointer;
  /*position: absolute;*/
  top: 11px;
  /*right: 184px;*/
  /*font-size: 100px;
  z-index: 2;*/

  /*opacity: 0.0;*/ /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
  background-color: #fff;
  border:1px solid #efefef;
  float: left;
  padding: 3px 10px !important;
  margin-right: 5px;
}

/*  file upload */
.fileuploadouter
{
 position: relative; 
 overflow: hidden; 
 margin: 5px; 
 width: 34px !important; 
 height: 34px !important;
 float: left; 
 margin-top: 0px !important; 
 cursor:pointer !important;
}

.inputtext
{
  width: 24px !important;
  height: 26px !important;
  padding-left: 10px;
  cursor: pointer; 
  font-size:12px; 
  line-height:26px; 
  font-weight:bold;
}
.inputtexticon
{
font-size:12px; 
font-weight:bold;
}
.fileuploadinput
{
  position: absolute;
  top: 0;
  right: 0; 
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
/*ends here */

.chatAttachment {
  display: block;
  position: relative;
  margin-left: 61px;
  margin-top: 20px;
  /*width: 88%;*/
}
.chat-item-img-attachment {
  width: 40px;
  float: left;
  display: block;
  margin-right: 2px;
  border-radius: 50%;
  margin-top: 22px;
}
.chatAttachment img {
    padding: 5px;
    border: 3px solid #E0E0DF;
    width: 50%;
    height: 100%;
}

.chatAttachment #inner-box {
    background: none repeat scroll 0% 0%;
    opacity: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 5px;
   /* border: 3px solid #E0E0DF;*/
    transition: opacity 0.5s ease 0s;
    height: 100%;
    width: 50%;
  }

.chatAttachment #inner-box p {
    color: #FFF;
    font-size: 25px;
    font-family: "arial";
    text-align: center;
    height: 100%;
    display: table;
    vertical-align: middle;
    width: 100%;
  }
  
.chatAttachment #inner-box p  span {
     color: #FFF !important;
    line-height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center !important;
}
.chatAttachment #inner-box p  span  a{
  color: transparent !important;
  }
.chatAttachment:hover #inner-box {
  opacity: .7;
  transition: opacity .5s;
  border: none !important;
}
.chatContactRow .chatCheckbox{
  margin-top: 8px;
}
.chatContactRow span{
  padding-left: 10px;
}
.chatContactRow{
  padding-top: 8px;
}
.replyName{
  font-size:11px;
  font-weight:800;
}
.replyTime{
  font-size:11px;
  font-weight:200;
  margin-right: 15px;
  position: absolute;
  top:10px;
  right:0;
}
.read-message{
  background: #faebcc !important;
}
.author-disabled{
  color:#a0a0a0 !important;
}
.panel-heading-chat{
  background-color: #e6eaf0;
  border-bottom:1px solid #e6eaf0;
}
.chatPane{
  padding: 15px !important;
}
.chat-reload{
  background-image: url('../images/chat/chat-icons.png');
  background-position: -105px -11px ;
  width: 40px;
  height: 34px;
  cursor:pointer;
  display: inline-block;
}
.chat-compose{
  background-image: url('../images/chat/chat-icons.png');
  background-position: -202px -9px ;
  width: 40px;
  height: 34px;
  cursor:pointer;
  display: inline-block;
}
.chat-add-people{
  background-image: url('../images/chat/chat-icons.png');
  background-position: -258px -8px ;
  width: 40px;
  height: 34px;
  cursor:pointer;
  display: inline-block;
}
.chat-info{
  background-image: url('../images/chat/chat-icons.png');
  background-position: -159px -11px ;
  width: 40px;
  height: 34px;
  cursor:pointer;
  display: inline-block;
}
.chat-send{
  background-image: url('../images/chat/chat-icons.png');
  background-position: -9px -13px ;
  width: 34px;
  height: 34px;
  cursor:pointer;
  display: inline-block;
}
.chat-attach{
  background-image: url('../images/chat/chat-icons.png');
  background-position: -312px -12px ;
  width: 34px;
  height: 34px;
  cursor:pointer;
  display: inline-block;
}
.chat-thread-utility{
  margin-top: -7px;
}
#thread-master-title{
  margin-left:44%;
}
