@import "validate.css";
@import "settings.css";
@import "patient-Search.css";
@import "chat.css";
@import "alerts.css";
@import "resources.css";

.cursor-pointer{
    cursor: pointer;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}
.margin-bottom-20{
    margin-bottom: 20px !important;
}

.cursor-pointer{
    cursor: pointer;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}
.margin-bottom-20{
    margin-bottom: 20px !important;
}

.dispay-inline-block{
	display: inline-block;
}
.chat-item-count{
    position: absolute;
    right:10px;
    bottom: 0;
}
.padChatComment{
    padding-left: 55px;
}
.cursorDefault
{
    cursor: default;
}