body {
    font-family: 'Roboto Condensed', sans-serif;
    /*padding-top: 20px;*/
   /* background-color: #eee;*/
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.container{
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%
}

.btn-primary {
    color: #fff;
    background-color: #539391;
    border-color: #488685;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #539391;
    border-color: #488685;
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #539391;
    border-color: #488685;
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

.health-text{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #444444
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.dark-grey-text-color{
    color: #444444
}
.no-margin{margin-left: 0px !important; margin-right: 0px !important; padding-left: 0px !important; padding-right: 0px !important;}
.banner-pad-top{padding-top: 20px;padding-left: 50px; width: 819px; height: 819px;}
.full-height-container{height: 100% !important;}

/* large screen more than 1550px */
@media screen and (min-width: 1550px) {
    .banner-pad-top {
        padding-top: 20px;
        padding-left: 50px !important;
        width:1080px;
        height: 882px;
    }
}
/* Media queries for i-pad portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) and (orientation:portrait) {
    .banner-pad-top-portrait {
        padding-top: 20px;
        padding-left: 0px !important;
        /*margin-left: -73px !important;*/
        width:618px;height:auto;
       margin-right: auto !important;
        margin-left: auto !important;
        display: block !important;
    }
    #formpanel{width: 250px !important;}
    .drop-image{float:left !important; width: 100%;}
    .drop-image1{display:none !important;}

}
/* Media queries for i-pad landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) and (orientation:landscape) {
    .banner-pad-top {
        padding-top: 20px !important;
        padding-left: 0px !important;
        width:738px;
        height: 700px;
        margin-left: -50px !important;
    }
    #formpanel{width: 300px !important;}
}
/* Media queries for iphone portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) and (orientation:portrait)
{
    .mobile-hidden{display: none !important;}
    #formpanel{width: 300px !important;}
    .form-signin-heading img {width: 120px !important; height: auto !important;}
    .mobile-container{width: 95% !important; margin-left:2.5% !important; ; margin-right: 2.5% !important; padding-left:0px !important; padding-right:0px !important;}
}
/* Media queries for iphone landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) and (orientation:landscape)
{
    .mobile-hidden{display: none !important;}
    #formpanel{width: 460px !important;}
    .form-signin-heading img {width: 120px !important; height: auto !important;}
    .mobile-container{width: 95% !important; margin-left:2.5% !important; ; margin-right: 2.5% !important; padding-left:0px !important; padding-right:0px !important;}
}
/* Media queries for samsung galaxy s4 portrait */
@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px) and (orientation:portrait)
{
    .mobile-hidden{display: none !important;}
    #formpanel{width: 340px !important;}
    .form-signin-heading img {width: 120px !important; height: auto !important;}
    .mobile-container{width: 95% !important; margin-left:2.5% !important; ; margin-right: 2.5% !important; padding-left:0px !important; padding-right:0px !important;}
}
/* Media queries for samsung galaxy s4 portrait */
@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px) and (orientation:landscape)
{
    .mobile-hidden{display: none !important;}
    #formpanel{width: 560px !important;}
    .form-signin-heading img {width: 120px !important; height: auto !important;}
    .mobile-container{width: 95% !important; margin-left:2.5% !important; ; margin-right: 2.5% !important; padding-left:0px !important; padding-right:0px !important;}
}