.ps-patientInfoWidth
{
    min-width:150px;
}

.ps-patientName
{
    line-height: 34px;
}


#PatientReport .info-box .info-box-stats p
{
    font-size: 18px !important;
}

/*table#ps_patientList thead tr th*/
/*{*/
    /*min-width: 100%;*/
    /*width: 100%;*/

/*}*/

#ps_patientList .warningSize{
    font-size: 100%;
    margin-left:30px;
}

#ps_patientList .alignCenter
{
    text-align: center;
}

#ps_patientList .daysOfDischarge
{
    width:182px;
}

#readmitRisk a{
    color: #4E5E6A !important;
    text-decoration: none;
}

.medicalHistoryUi a
{
    color: #4E5E6A !important;
    text-decoration: none;
}

#patientSex a{
    color: #4E5E6A !important;
    text-decoration: none;
}

#patientOrder a
{
    color: #4E5E6A !important;
    text-decoration: none;

}

.patient-list
{
    min-height: 600px !important;
    margin-top: 44px;
}
.table>thead>tr>th {
    vertical-align: bottom !important;
    border-bottom: 1px solid #ddd !important;
}


#ps_patientList .glyphicon
{
    margin-left:5px;
}


.ps_grey
{
    color: #D8D8D8;
}