.res_row{
	margin-left: -65px;
}
.res_display{
	background-color: white;
	margin-top:-12px;
	
}

.imgEducation{
	width:41px;
	height:41px;
	/*margin-left: 50px;*/
}

.res_display li a {
	padding:50px;
    
}

.round-icon{
	 width:41px;
	 height:41px;
	border-radius:50%;
}

.secondlist_display{
	background-color: white;
}
.secondlist_display li a{
	padding:25px;
}

.res_modal
{
	margin:100px auto;
}

.disclaimer_title
{
	font-size:20px;
	text-align:center;
}

