.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.ht_abtPopupBg
{
    background:url('/assets/images/mySettings/health-track.jpg') no-repeat 0px -65px;
    width:800px;
    height:500px;

}

.dairy_abtPopupBg
{
    background:url(/assets/images/mySettings/medical-diary.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}

.mymed_abtPopupBg
{
    background:url(/assets/images/mySettings/my-medication.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}

.sm_abtPopupBg
{
    background:url(/assets/images/mySettings/symp-mgmt.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}


.pchart_abtPopupBg
{
    background:url(/assets/images/mySettings/progress-chart.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}


.inbox_abtPopupBg
{
    background:url(/assets/images/mySettings/my-inbox.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}


.community_abtPopupBg
{
    background:url(/assets/images/mySettings/my-community.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}


.nut_abtPopupBg
{
    background:url(/assets/images/mySettings/nutrition.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}

.livehelp_abtPopupBg
{
    background:url(/assets/images/mySettings/live-help.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}

.scrapbook_abtPopupBg{
    background:url(/assets/images/mySettings/my-scrapbook.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;
}


.abtPopup_heading
{
    color:#ffffff;
    font-size:23px;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;

}

.abtPopup_border
{
    border-bottom:1px solid #ffffff;
    height: 140px;

}


.abtPopup_txt
{
    color:#ffffff;
    font-size:20px;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;
}




.btPopup_TxtDisplay
{
    width:200px; float:left; margin:75px 24px;text-align:center;
}

.page-footer a{
    text-decoration: none;
    color:#B5B5B5;
}


.Sc_abtPopupBg
{
    background:url(/assets/images/mySettings/welcome_1.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}

.community_abtPopupBg
{
    background:url(/assets/images/mySettings/welcome_2.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}

.PRecords_abtPopupBg
{
    background:url(/assets/images/mySettings/welcome_3.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}

.msg_abtPopupBg
{
    background:url(/assets/images/mySettings/welcome_4.jpg) no-repeat 0px -65px;
    width:800px;
    height:500px;

}

/*.modal-header*/
/*{*/
    /*margin-top: 10% !important;*/
/*}*/


#myCarousel {
    margin: 17% 0;
}


#myCarousel .carousel-control.right,.carousel-control.left{
    background-image: none !important;
}

#myCarousel .carousel-control
{
    width:4% !important;
    top:20px !important;
}

#myCarousel .carousel-indicators
{
    bottom:10px !important;

}
#myCarousel .modal-header .close {
    margin-top: 14px !important;
    z-index: 1043 !important;
    border: 1px solid transparent !important;
    border-radius: 68px !important;
    width: 25px !important;
    height: 25px !important;
    background-color: #0c1f28 !important;
    margin-left: 766px !important;
    position: absolute !important;
    float: right !important;
    top: 25px !important;
    opacity: 1.0 !important;
    color: #eee !important;
}

/*#myCarousel .modal-header*/
/*{*/
/*border-radius: 50% !important;*/
/*height: 31px !important;*/
/*right: -15px !important;*/
/*top: -15px !important;*/
/*width: 31px !important;*/
/*box-shadow: 0 3px 3px rgba(0,0,0,0.4) !important;*/
/*background-color: rgb(123, 121, 106) !important;*/
/*}*/

#feedbackModal .modal-header
{
    height:125px !important;
    border-bottom:none !important;
}

#feedbackModal .modal-title{
    text-align:center !important;
    font-size:15px !important;
    margin-top:15px !important;
}


#feedbackModal .modal-footer
{
    margin-top:-10px !important;
    border-top:none !important;
    padding:2px 20px 20px !important;
}

#feedback .form-control
{
    height:200px !important;
    margin-top:-18px !important;
}

.tourButton
{
    margin:40px;
}


.patientDisclaimer
{
    line-height: 25px !important;
    text-align: justify !important;
}














