.page-content {
    background: #f79d20;
}

.navbar .logo-box {
    background: #fff;
}

.navbar .logo-box a {
    color: #5f5f5f;
}

.sidebar {
    background: #f79d20;
}

.sidebar-header {
    background: #f79d20;
}

.sidebar-profile span small {
    color: #FFFFFF;
}

.menu {
    background: #f79d20;
}

.menu.accordion-menu a {
    color: #FFFFFF;
}

.menu.accordion-menu > li > a:hover {
	background: #b8781e;
    color: #fff;
}

.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a {
	background: #b8781e;
    color: #fff;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
.horizontal-bar .accordion-menu > li.droplink:hover > a,
.menu.accordion-menu ul,
.menu.accordion-menu li.open > a,
.hover-menu .accordion-menu > li.droplink:hover > a {
    background: #b8781e;
    color: #fff;
}

.menu.accordion-menu ul li a:hover,
.menu.accordion-menu ul li.active a {
	background: #f79d20;
    color: #fff;
}

.menu.accordion-menu ul li a {
    color: #FFFFFF;
}
.badge.badge-success{
    background-color: #f79d20 !important;
}
.love-icon{
    color: #f79d20;
}
.pace .pace-progress {
    background: #f79d20
}

.pace .pace-progress-inner {
    box-shadow: 0 0 10px #f79d20, 0 0 5px #f79d20
}

.pace .pace-activity {
    border-top-color: #f79d20;
    border-left-color: #f79d20;
    margin-top: 59px
}

.lh_personalProfile{
    border: 1px solid #cccccc !important;
    height: 60px;
}

.lh_personalProfile ul li{
    border-right: 1px solid #cccccc;
    width:230px;
    text-align: center;
    font-size:16px;
    height: 59px;
}

.lh_personalProfile ul li:last-child{
    border:none;
    width: 338px;
}

.lh_personalProfile .navbar-nav > .active > a{
    background:#cccccc !important;
    color: #ffffff !important; ;
    height: 59px;
}

.lh_personalProfile .navbar-nav > .active > a:hover{
    background:#cccccc !important;
    color: #ffffff !important;
    height: 59px;
}

.btn-success{
    background-color: #f79d20;
    color: #fff;
    border: 1px solid transparent;
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    border: 1px solid #f79d20;
    background: #f79d20;
}
.btn-success:hover, .btn-success:focus, .btn-success:active{
    border: 1px solid #f79d20;
    background: #f79d20;
}
.text-white{
    color:#fff;
}
.tab-heading-color{
    color: #f79d20;
}
.panelFixedHeight{
    min-height: 917px;
}
.setSaveWidth{
    width:25%;
    float: left;
}
.margin-top-8{
    margin-top: 8px;
}

.headingApp-color
{
    color:#e3861e !important;
}
.theme-border{
    border: solid 1px #f79d20;
}
.btn-color
{
    background-color: #f79d20;
    color: #fff;
    border: 1px solid transparent;
}
.app-modal-window .modal-dialog {
    width: 1000px;
}
.theme-text-color{
    color:#f79d20
}
.theme-heading{
    font-size: 16px;
    font-weight: 100;
}
.aside .aside-dialog .aside-header {
    width:400px;
    border-bottom: 1px solid #D1C468;
    min-height: 16.43px;
    padding: 6px 15px;
    background: #f79d20;
    color: #fff;
}
.aside-footer{
    display: none;
}

    .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }

    