<div class="forget-pwd-body" style="width:330px; margin:auto" ng-controller="forgotPasswordController as ctrl">

    <div class="forget-pwd-text">
        <span class="text-justify">To reset your password. Please enter your email address. You many need to check your span folder or unblock noreply@icancerhelp.com</span>
    </div>

    <form name="resetForm" autocomplete="off" novalidate="novalidate">
        <div
                ng-class="{'alert alert-success margin-top-10':ctrl.status==true, 'alert alert-danger margin-top-10':ctrl.status==false}"
                role="alert"
                ng-show="ctrl.message">{{ctrl.message | lowercase}}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ctrl.message=false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="forget-pwd-content">
            <div class="form-group">
                <input type="email" name="email" class="form-control margin-top-10" placeholder="Email" ng-model="ctrl.email" required autofocus="autofocus">
                <span ng-show="resetForm.email.$error.email" class="text-danger">Invalid email address!</span>

            </div>
        </div>
        <div class="text-center">
            <a href="#/login" class="btn btn-primary">Back</button></a>
            <a class="btn btn-primary" ng-click="ctrl.resetPassword()"
               ng-disabled="ctrl.resetting || resetForm.$invalid">Resend Password</a>
        </div>
    </form>
</div>
