<form class="form-signin" name="signinForm" ng-controller="loginController as ctrl" autocomplete="off" novalidate="novalidate">
    <div
            ng-class="{'alert alert-success':ctrl.status==true, 'alert alert-danger':ctrl.status==false}"
            role="alert"
            ng-show="ctrl.message">{{ctrl.message | lowercase}}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ctrl.message=false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="username" id="inputEmail" class="form-control" ng-model="ctrl.username"
           placeholder="username" required autofocus="autofocus">

    <div ng-show="signinForm.username.$error.email" class="text-danger margin-bottom-10">Invalid email address!</div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" ng-model="ctrl.password"
           placeholder="Password" required>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="ctrl.signIn()" ng-disabled="ctrl.signing || signinForm.$invalid">
        Sign In
    </button>
    <div class="pull-right margin-top-10"><a href="#/forgot-password" class="dark-grey-text-color">Forgot Password</a>
    </div>
</form>