<div class="row">
	<div class="col-md-12">
		<form name="newThread">
		<div class="form-group">
            <div class="form-group">
                <input type="text" placeholder="Type to search" class="form-control" ng-model="contactSearch">
            </div>
        	<div class="checkbox chatContactRow" ng-repeat="contact in contacts | filter:contactSearch">
        		<label>
        			<input type="checkbox" name="selectContact" class="chatCheckbox" multiple-check> 
        			<img class="img-circle" height=25 width=25 src="{{contact.imageURL}}" onError="this.src='/assets/images/patientSearch/default_user_image.png'" />
        			
        			<span ng-show="contact.fullname">{{contact.fullname |limitTo:20}}</span>
        			<span ng-show="!contact.fullname">No Name</span>
        		</label>
        	</div>
        </div>
        <hr>
        <button type="submit" class="btn btn-success" ng-click="addPeople();$hide();" ng-disabled="!multipleChecked.length">
                Save Details
        </button>
        <button class="btn btn-default" ng-click="$hide();">
                Cancel
        </button>
	</div>
</div>