<div class="row">
	<div class="col-md-12">
		<form name="newThread">
		<div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" ng-model="thread.subject">
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" ng-model="thread.message"></textarea>
        </div>

        <div class="form-group slimContactScroll">
            <label for="selectContact">Select Contact</label>
            <div class="form-group">
                <input placeholder="Type to search" type="text" class="form-control" ng-model="contactSearch">
            </div>
        	<div class="checkbox chatContactRow" ng-repeat="contact in contacts | filter:contactSearch">
        		<label>
        			<input type="checkbox" name="selectContact" class="chatCheckbox" multiple-check> 
        			<img class="img-circle" height=25 width=25 src="{{contact.imageURL}}" onError="this.src='/assets/images/patientSearch/default_user_image.png'" />
        			
        			<span ng-show="contact.fullname">{{contact.fullname|limitTo:20}}</span>
        			<span ng-show="!contact.fullname">No Name</span>
        		</label>
        	</div>
        </div>
        <hr>
        <button type="submit" class="btn btn-success" ng-click="addMessage();$hide();" ng-disabled="!multipleChecked.length || !thread.message || !thread.subject">
                Save Details
        </button>
        <button class="btn btn-default" ng-click="$hide();">
                Cancel
        </button>

	</div>
</div>