<div class="col-md-4">
    <div class="thread-panel panel panel-white chatScroll">
        <div class="panel-heading panel-heading-chat">
            <span id="thread-master-title">Messages</span>
            <div class="panel-control chat-thread-utility">
                <div class="chat-reload" ng-click='reloadThreads()'></div>
                <div class="chat-compose" data-container="body" data-content-template="/application-modules/chat/add-message.html" data-title="New Message" bs-aside="aside"></div>
                
            </div>
        </div>
        <div class="panel-body" scroll-end-detect paginate-threads="paginateThreads()">
            <div class="inbox-widget" style="height:635px !important">
                <a href="#" ng-repeat='thread in threads' ng-click="getThreadReplies(thread.id);user.selectedThread = thread;markRead();" mark-thread-read>
                    <div class="inbox-item">
                        <div class="inbox-item-img"><img src="{{thread.fromImage}}" class="img-circle" alt="" onError="this.src='/assets/images/patientSearch/default_user_image.png'"></div>
                        <p ng-class="{'author-disabled':thread.status == 'Read'}" class="inbox-item-author">{{thread.subject | limitTo:20}}</p>
                        <p ng-class="{'author-disabled':thread.status == 'Read'}" class="inbox-item-author">{{thread.fromName | limitTo:20}}</p>
                        <p class="padChatComment inbox-item-text">{{thread.message| limitTo:20}}</p>
                        <p class="inbox-item-date">{{thread.modified | date:'d MMM yy HH:mm'}}</p>
                        <!--<p class=" chat-item-count badge badge-success" ng-class="{'read-message':(thread.status=='Unread')}">{{thread.commentCount}}</p> -->
                    </div>
                </a>
                <div ng-if="loadingThreads" style="text-align: center; margin-top:50px"><img src="/assets/loaders/community.GIF"> </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="mailbox-content panel">
        <div class="panel-heading panel-heading-chat">
            <h4 class="panel-title">{{user.selectedThread.subject}}</h4>
            <div class="panel-control chat-thread-utility">
                  <div class="chat-reload" ng-click='reloadReplies(user.selectedThread.id)'></div>
                  <div class="chat-info"></div>
                  <div class="chat-add-people" bs-aside="aside" data-content-template="/application-modules/chat/add-contact.html" data-title="Add People"></div>
            </div>
        </div>
        <div class="chatPane chatRepliesScroll" style="height:620px">
            <div class='rightChatPane singleChat cd-timeline-block' ng-repeat='threadReply in threadReplies' ng-class="{'pull-right':user.id == threadReply.from}">
                <img ng-show="threadReply.message" src={{threadReply.fromURL}} class="chat-item-img img-circle" onError="this.src='/assets/images/patientSearch/default_user_image.png'" ng-class="{'pull-right':user.id == threadReply.from}"/>
                <span ng-show="threadReply.message" ng-class="{'cd-timeline-content-right':user.id == threadReply.from}" class='chatText cd-timeline-content'>    <div class="replyName">{{threadReply.fromName}}</div>  
                    {{threadReply.message}}
                    <p class="replyTime"> {{threadReply.created | date:'d MMM yy HH:mm'}}</p>
                </span>
                <img ng-show="threadReply.attachement.url" src={{threadReply.fromURL}} class="chat-item-img-attachment img-circle" onError="this.src='/assets/images/patientSearch/default_user_image.png'" ng-class="{'pull-right':user.id == threadReply.from}"/>
                    <span ng-class="{'cd-timeline-content-right':user.id == threadReply.from}" class="chatAttachment cd-timeline-content" ng-show="threadReply.attachement.url">
                       <div class="replyName">{{threadReply.fromName}}</div> 
                       <img  src="{{threadReply.attachement.url}}" onError="this.src='/assets/images/document.png'"/>
                        <div id="inner-box">
                          <p> <span><a href="{{threadReply.attachement.url}}" download="{{threadReply.attachement.name}}"><i class="fa fa-arrow-circle-o-down" style="color: #fff !important; border: 5px solid #000; border-radius: 75%; background-color: #000;"></i></a> <a href="{{threadReply.attachement.url}}" download="{{threadReply.attachement.name}}"> &#160;<i class="fa fa-eye" style="color: #fff !important; border: 5px solid #000; border-radius: 75%; background-color: #000;"></i></a> </span></p>
                        </div>
                         <p class="replyTime"> {{threadReply.created | date:'d MMM yy HH:mm'}}</p>
                    </span>
            </div>
            <!-- end here -->
        </div>
        <div class="footerReply">
            <div class="col-xs-12 pull-right footerinner">
                <input type="text" class="pull-left col-xs-8 footerinput" ng-model="replyValue" ng-enter="reply(replyValue)">
                <div class="fileuploadouter">
                    <span class="chat-attach"></span>
                   <input type="file" name="chatUpload" file-model="myFile" class="fileuploadinput ng-isolate-scope" callback-fn="uploadcsv(file)">
                </div>
              <!--  <input type="file" name="chatUpload" file-model="myFile"  class="custom-file-input" callback-fn="uploadcsv(file)"> -->
              <!--   <button type="button" class="chat-btn btn btn-default"><i class=" fa fa-paperclip"></i></button>  -->
                <div ng-click="reply(replyValue)" class="chat-send"></div>
                <!-- <button ng-disabled="!replyValue" class="btn chat-btn btn-success" ng-click="reply(replyValue)">Send</button> -->
                
            </div>
       </div>
    </div>
</div>